@media (min-width: 993px){
  .desktop-bg {
    background: url("../img/hero_background.jpg") center no-repeat;
    background-size: cover;
  }
  .nav-bar {
    padding: 35px 50px;
    background-color: transparent;

    &-desktop {
      display: flex;
    }

    &__burger {
      display: none;
    }

    &__logo {
      &-text {
        display: inline-block;
      }
    }

    &__buy-now-btn {
      display: none;
    }
  }

  .hero {
    background: none;

    &__main {
      &-heading {
        font-size: 82px;
      }
      &-button {
        font-size: 15px;
        padding: 0 40px;
      }
    }
  }
  .companies-list {
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 105px 0 20px;

    &__heading {
      grid-column: span 3;
      font-size: 48px;
    }

    &__notation {
      grid-column: span 3;
      margin-top: 120px;
    }
  }

  .specifications {
    padding: 0;
    overflow: hidden;

    &-text {
      &__title {
        font-size: 54px;
      }

      &__description {
        margin-top: 35px;
        font-size: 21px;
        line-height: 32px;
      }
    }

    &__git {
      display: flex;

      &-item {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    &__list {
      grid-row: 1/2;

      &-title {
        h2 {
          font-size: 48px;
        }
        grid-column: 2/4;
        grid-row: 1;
        margin: 0;
      }

      &-wrap {
        .container {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 2%;
        }

        overflow: visible;
        padding-top: 90px;
        padding-bottom: 30px;
        margin-top: 70px;
        background-color: #F4F4F4;
      }

      &-item {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 111px 1fr;
        grid-column-gap: 20px;
        justify-content: start;
        align-items: center;

        &:first-child {
          margin-top: 0;
        }


        &--title {
          margin-top: 0;
          text-align: left;
        }

        &--description {
          text-align: left;
        }
      }

      &-img {
        &_wrap {
          width: 60%;
        }
      }
    }
    &__editor {
      justify-content: flex-end;
      grid-column: 2/4;
      grid-row: 1/2;
      margin-top: 45px;


      img {
        transform: scale(1.05) translateX(2%);

      }
    }
  }
  .pricing {
    &__title {
      margin: 110px 0;
      h2 {
        font-size: 48px;
      }
    }


    &__item {
      width: 100%;
      height: 100%;

      &:not(:last-child) {
        margin-right: 2%;
      }


      &:nth-child(2) {
        margin-right: 4%;
      }

      &:nth-child(3) {
        transform: translateY(-15%);
        margin-right: 4%;

        .pricing__item-header {
          padding: 45px 25px;
        }

        .pricing__item-content {
          padding-top: 15px;
          padding-left: 25px;
          padding-right: 25px;

          &--duration {
            margin-bottom: 45px;
          }

          &--price {
            font-size: 82px;
          }

          &-buy {
            margin-top: 80px;
          }


        }
      }



      &-wrap {
        display: flex;
        justify-content: space-between;
      }
    }
  }

}


