@media (min-width: 481px) and (max-width: 992px) {
  .nav-bar {
    &__buy-now-btn{
      font-size: 14px;
      padding: 0 30px;
    }
    &__logo {
      &-text {
        display: inline-block;
      }
    }

    &__burger {
      display: none;
    }
  }
  .hero {
    &__main {
      &-text {
        font-size: 21px;
      }

      &-heading {
        font-size: 70px;
      }

      &-details {
        margin-bottom: 420px;
      }

      &-button {
        font-size: 19px;
        padding: 0 60px;
      }
    }
  }
  .nav-bar-tablet {
    display: flex;
  }


  .companies-list{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding: 85px 0 20px;

    &__heading{
      grid-column: span 2;
      font-size: 42px;
    }
    &__notation{
      font-size: 14px;
      grid-column: span 2;
      margin-top: 60px;
    }
  }

  .specifications {
    &-text {
      &__title {
        font-size: 42px;
      }

      &__description {
        font-size: 21px;
        line-height: 32px;
      }
    }

    &__git {
      display: flex;

      &-item {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    &__list {
      margin-top: 50px;


      &-text {
        &_wrap {
          text-align: left;
        }
      }

      &-title {
        h2 {
          font-size: 42px;
        }
      }

      &-item {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 150px 1fr;
        justify-content: center;
        align-items: center;

        &:first-child {
          margin-top: 50px;
        }

        &--title {
          text-align: left;
        }

        &--description {
          text-align: left;
        }
      }
    }

    &__editor {
      .container {
        padding: 0;
      }
      display: flex;
      justify-content: flex-end;
      margin-top: 75px;
      img {
        transform: scale(1) translateX(12%);
      }
    }
  }

  .pricing {

    &__title {
      margin-top: 90px;
      margin-bottom: 40px;
      h2 {
        font-size: 42px;
      }
    }

    .container {
      padding-left: 100px;
      padding-right: 100px;
    }


    &__wrap {
      padding-bottom: 150px;
      padding-left: 0;
      padding-right: 0;
    }

    &__item {
      &:nth-child(3) {
        margin: 0;
        transform: scale(1) translate(-9%, 0%);



        .pricing__item-header {
          padding: 45px 25px;
        }

        .pricing__item-content {
          padding-top: 15px;
          padding-left: 25px;
          padding-right: 25px;

          &--duration {
            margin-bottom: 45px;
          }

          &--price {
            font-size: 82px;
          }

          &-buy {
            margin-top: 80px;
          }


        }
      }

      margin: 0;


      &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 25px;

      }
    }
  }
}



