.companies-list {
  background: url("../img/co-workers_bg.jpg") #4a3b4e no-repeat top;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  padding: 50px 0 37px;

  &__heading {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    &-logo {
      margin-bottom: 20px;
    }

    &-description {
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #fff
    }
  }

  &__notation {
    text-align: center;
    color: #A291A5;
    padding-bottom: 25px;
  }
}