.specifications {
  overflow: hidden;
  margin-top: 130px;
  padding: 0 24px;

  &__wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &-text {
    margin-bottom: 35px;

    &__title {
      font-weight: bold;
      font-size: 26px;
      text-transform: uppercase;
      color: #635C73;
    }

    &__description {
      margin-top: 30px;
      font-size: 14px;
      line-height: 20px;
      color: #323232;
    }
  }

  &__git {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;

    &-item {
      display: flex;
      justify-self: center;
      align-items: center;
      cursor: default;

      &:last-child {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      padding: 3px 12px;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      background-color: #FAFBFC;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &-img {
      path {
        fill: #24292e;
      }

      margin-right: 5px;
    }

    &-counter {
      padding: 6px 12px;
      font-size: 14px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  &__list {
    &-wrap {
      margin-top: 120px;
    }

    &-title {
      margin-bottom: 35px;

      h2 {
        color: #8D81AC;
        line-height: 38px;
        font-size: 32px;
        font-weight: bold;

        &:before {
          content: '<';
        }

        &:after {
          content: '>';
        }
      }
    }

    &-item {
      margin-top: 40px;

      &--title {
        margin-top: 27px;
        color: #323232;
        font-size: 16px;
        font-weight: normal;
      }

      &--description {
        margin-top: 15px;
        color: #848E97;
        line-height: 21px;
        font-size: 14px;
      }
    }
  }

  &__editor {
    img {
      
      transform: scale(0.9) translateX(-40px);
    }
  }
}