.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #27262A;

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      width: 40px;
    }

    &-text {
      display: none;
      margin-left: 10px;
      font-size: 20px;
      color: #8D81AC;
      font-weight: bold;
      text-transform: uppercase;
    }

    &:hover {
      .nav-bar__logo-img {
        content: url("../img/company-logo-hover.svg");
      }

      .nav-bar__logo-text {
        color: #fff;
      }
    }
  }

  &-desktop {
    display: none;
    flex-direction: row;
    align-items: center;

    &-link {
      color: #8D81AC;
      font-size: 14px;
      font-weight: bold;
      padding: 0 14px;

      &:hover {
        color: #fff;
      }
    }

    &-btn {
      outline: none;
      font-weight: bold;
      font-size: 15px;
      height: 32px;
      padding: 0 31px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #8D81AC;
      color: white;
      border-radius: 19px 19px;

      &:hover {
        background-color: #fff;
        color: #8D81AC;
      }
    }
  }

  &__buy-now-btn {
    outline: none;
    font-weight: bold;
    font-size: 11px;
    height: 32px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8D81AC;
    color: white;
    border-radius: 19px 19px;

    &:hover {
      background-color: #fff;
      color: #8D81AC;
    }
  }

  &__burger {
    &--opened {
      & .nav-bar__burger-icon-line {
        transition: transform 0.3s;

        &:nth-child(1) {
          width: 100%;
          transform: translate(0, 9px) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translate(50px, 0px);
        }

        &:nth-child(3) {
          transform: translate(0, -6px) rotate(-45deg);
        }
      }

      & .nav-bar__burger__menu {
        display: flex;
      }
    }

    &-icon {
      width: 25px;
      display: flex;
      flex-direction: column;
      transition: transform 0.3s;
      position: relative;


      &-line {
        transition: transform 0.3s;
        width: 100%;
        height: 3px;
        margin-bottom: 5px;
        background-color: #fff;

        &:nth-child(1) {
          width: 100%;
          transform: translate(0, 0) rotate(0);
        }

        &:nth-child(2) {
          transform: translate(0, 0px);
        }

        &:nth-child(3) {
          transform: translate(0, 0) rotate(0);
        }

        &:first-child {
          align-self: flex-end;
          width: 50%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__menu {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 17px;
      top: 68px;
      background-color: #333333;

      &-link {
        color: #fff;
        font-size: 21px;
        padding: 18px 73px 18px 30px;
        margin: 0 0 17px 0;
        position: relative;
        border-left: 14px solid transparent;
        border-bottom: 1px solid #3b3b3b;

        &:hover {
          color: #8D81AC;
          border-left: 14px solid #8D81AC;
        }

        &:first-child {
          margin: 17px 0;
        }
      }
    }
  }
}


.nav-bar-tablet {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #27262A;

  &-link {
    padding: 0 20px 20px 20px;
    font-weight: bold;
    color: #8D81AC;
    &:hover{
      color: #fff;
    }
  }
}


.hero {
  background: url("../img/hero_background.jpg") bottom no-repeat;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

    &-heading {
      margin-top: 50px;
      font-size: 50px;
      color: #fff;
      padding-bottom: 20px;
    }

    &-text {
      font-size: 20px;
      line-height: 31px;
      color: #8D81AC;
      text-align: center;
      padding-bottom: 15px;
    }

    &-details {
      margin-bottom: 400px;
      font-size: 17px;
      color: #848E97;
    }

    &-button {
      font-weight: bold;
      border: none;
      outline: none;
      font-size: 15px;
      height: 45px;
      padding: 0 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #8D81AC;
      color: white;
      border-radius: 36px 36px;
      transform: translateY(22px);
      &:hover {
        border: 1px solid #8D81AC;
        background-color: #fff;
        color: #8D81AC;
      }
    }
  }
}

.under-hero-text {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  line-height: 14px;
  color: #848E97;
}
