.pricing {
  background-color: #4C3B4E;
  &__line {
    width: 100%;
    height: 2px;
    background-color: #645766;
  }
  &__title {
    margin-top: 15px;
    margin-bottom: 32px;
    text-align: center;
    h2 {
      color: #ffffff;
      font-weight: bold;
      font-size: 26px;
    }
  }
  &__wrap {

    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 18px;
    padding-top: 5px;
  }

  &__item {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    &:nth-child(3) {
      margin-bottom: 56px;
      margin-top: 56px;
      margin-right: 0;
      margin-left: 0;
      transform: scale(1.1);
      .pricing__item-header {
        background-color: #3F2C41;
      }
      .pricing__item-content {
        background-color: #47324A;
      }
      .pricing__item-content-buy--btn {
        padding: 18px 50px;
      }
    }

    &-header {
      background-color: #695B6A;
      padding: 35px 0;
      width: 100%;

      h2 {
        color: #ffffff;
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }

    &-content {
      background-color: #5F5161;
      padding-top: 30px;
      padding-bottom: 65px;
      width: 100%;

      &--price {
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 60px;
        font-weight: normal;

        span {
          font-weight: bold;
        }
      }

      &--duration {
        margin-top: 20px;
        color: #ffffff;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
      }

      &--line {
        margin: 35px auto 30px;
        height: 5px;
        width: 60px;
        background-color: #8D81AC;
      }

      &--description {
        &_list {

        }

        &_item {
          color: #ffffff;
          font-weight: normal;
          font-size: 16px;
          line-height: 18px;
          text-transform: capitalize;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }

      &-buy {
        margin: 50px auto 0;

        &--btn {
          outline: none;
          padding: 15px 40px;
          border: none;
          border-radius: 40px;
          background-color: #776C79;
          color: #ffffff;
          font-weight: normal;
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }
  }
}
