@import "reset";
@import "mixins";

* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}




@import "sections/all-sections";
@import "media/all-media";